.btn-primary {
  &:hover {
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;
  }
}

#edit-btn,
#delete-btn {
  background-color: transparent;
}

.media-attachment {
  background-color: transparent;
}

#dropdownBtn,
#interactionBtn,
.username-container,
#backBtn {
  background-color: transparent;
  border: 0;
}

#editProfileBtn {
  bottom: 1rem;
  left: 1rem;
}
