.form-control,
.form-select,
.input-group-text {
  border: none;
  background-color: #2f3341;
  color: #fafafc;

  &:disabled {
    cursor: not-allowed;
  }

  &::placeholder {
    color: #c9c9c9;
  }

  &:focus {
    color: #fafafc;
  }

  &:disabled {
    background-color: #1c1c27;
    color: #989898;
  }
}

.user-form {
  background-color: #2f3341;
}

#searchForm {
  width: 270px;
}
