.form-control {
  border: none;
  background-color: $gray-200;

  &:disabled {
    cursor: not-allowed;
  }
}

.user-form {
  background-color: $white;
  border: 1px solid $gray-400;
}

#searchForm {
  width: 270px;
}
