.navbar-expand-lg {
  justify-content: space-between;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  font-size: 25px;
  font-weight: bold;
  color: $primary;

  &:hover {
    color: $indigo-600;
    text-decoration: none;
  }
}

.navbar-nav .nav-link {
  color: $gray-800;

  &:hover {
    color: $primary;
    text-decoration: none;
  }

  &.active {
    color: $primary;
    font-weight: 500;
  }
}

@media (min-width: 1024px) {
  .navbar-brand {
    font-size: 30px;
  }
}
