.bi {
  &-image {
    fill: $blue;
  }

  &-tag {
    fill: $orange;
  }

  &-heart,
  &-heart-fill,
  &-trash3 {
    fill: $red;
  }

  &-chat {
    fill: $green;
  }

  &-three-dots {
    fill: $gray-700;
  }

  &-house,
  &-person,
  &-pencil-square {
    fill: $primary;
  }

  &-heart,
  &-chat,
  &-heart-fill {
    &:hover {
      cursor: pointer;
    }
  }
}

.fa {
  &-image {
    color: $orange;
  }
  &-tag,
  &-thumbs-up {
    color: $primary;
  }

  &-comment {
    color: $green;
  }
}
