.bi{
    &-image{
        fill: $blue;
    }

    &-camera-video{
        fill: $orange;
    }

    &-paperclip{
        fill: $green;
    }

    &-heart, &-heart-fill{
        fill: $red;
    }

    &-chat{
        fill: $green;
    }

    &-house, &-person{
        fill: $primary;
    }

    &-heart, &-chat, &-heart-fill{
        &:hover{
            cursor: pointer;
        }
    }
}