$white: #252936;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #8df7ff;
$indigo: #00cfdd;
$purple: #e0d0ff;
$pink: #d63384;
$red: #af1c2b;
$orange: #fdac41;
$yellow: #ffc107;
$green: #4eda99;
$teal: #20c997;
$cyan: #0dcaf0;

$primary: $indigo;
$secondary: $purple;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: #44475a;
$dark: $gray-900;

$red-100: tint-color($red, 80%);
$red-200: tint-color($red, 60%);
$red-300: tint-color($red, 40%);
$red-400: tint-color($red, 20%);
$red-500: $red;
$red-600: shade-color($red, 20%);
$red-700: shade-color($red, 40%);
$red-800: shade-color($red, 60%);
$red-900: shade-color($red, 80%);

$border-color: #373544;
